body {
  font-family: 'Times New Roman', sans-serif;
}

$header_and_footer_color: #585858;

.header {
  color: $header_and_footer_color;
}

.footer {
  color: $header_and_footer_color;
}

.mla_heading {
}