body {
  font-family: 'Times New Roman', sans-serif;
}

$header_and_footer_color: #585858;

h1 {
  font-size: 110%;
  text-align: center;
}

h2 {
  font-size: 105%;
  text-align: left;
  margin: 0;
}

p {
  margin-top: 0;
  margin-bottom: 16px;
}

.header {
  color: $header_and_footer_color;
}

.footer {
  color: $header_and_footer_color;
}

.mla_heading {
}